@page "/"
@namespace XAFBlazorCustomWindowTemplate21._2._3.Blazor.Server
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DevExpress.ExpressApp.Blazor.Components

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- meta name="theme-color" content="#000000" -->
    <title>XAFBlazorCustomWindowTemplate21.2.3</title>
    <link id="walkme-custom-css" rel="stylesheet" type="text/css" href="https://cdn.walkme.com/users/ac208f5ffabd4b8dba0c87f2c875e44f/test/custom_css_3349d8f05a1047a9812ef9d8a32e477d.css" media="all" class="walkme-to-remove" crossorigin="anonymous">
    <script async="" src="https://cdn.walkme.com/player/resources/fonts/widget-font_v3.js" id="mt_script_9379150264" class="walkme-to-remove"></script>
    <script async="" src="https://cdn.walkme.com/player/resources/fonts/opensans.js" id="mt_script_9379570125" class="walkme-to-remove"></script>

    <base href="~/" />
    <component type="typeof(BootstrapThemeLink)" render-mode="Static" />
</head>
<body>
    @{
        string userAgent = Request.Headers["User-Agent"];
        bool isIE = userAgent.Contains("MSIE") || userAgent.Contains("Trident");
    }
    @if (isIE)
    {
        <link href="css/site.css" rel="stylesheet" />
        <link href="css/all.min.css" rel="stylesheet" />
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <div class="d-flex">
                <img class="mt-2 mr-4" src="_content/DevExpress.ExpressApp.Blazor/images/Sad.svg" width="60" height="60" />
                <div>
                    <div class="h1">Internet Explorer is not supported.</div>
                    <p style="font-size: 1rem; opacity: 0.75;" class="m-0">XAFBlazorCustomWindowTemplate21.2.3 cannot be loaded in Internet Explorer.<br>Please use a different browser.</p>
                </div>
            </div>
        </div>
    }
    else
    {
        <component type="typeof(SplashScreen)" render-mode="Static" param-Caption='"XAFBlazorCustomWindowTemplate21.2.3"' param-ImagePath='"images/SplashScreen.svg"' />

        <link href="_content/DevExpress.Blazor/dx-blazor.css" rel="stylesheet" />
        <link href="_content/DevExpress.ExpressApp.Blazor/styles.css" rel="stylesheet" />
        <link href="css/site.css" rel="stylesheet" />
        <link href="css/all.min.css" rel="stylesheet" />
        <script src="_content/DevExpress.ExpressApp.Blazor/scripts.js"></script>

        <app class="d-none">
            <component type="typeof(App)" render-mode="Server" />
        </app>

        <component type="typeof(AlertsHandler)" render-mode="Server" />

        <div id="blazor-error-ui">
            <component type="typeof(BlazorError)" render-mode="Static" />
        </div>

        <script src="_framework/blazor.server.js"></script>
        <script src="js/customScript.js"></script>
    }
</body>
</html>
